= render :partial => "userpage_header"
.chat_session_container
  .row.container_top
    %h2 Web Session demo 
    %p You are logged in as: #{current_user.username}  
    %form#createRoom
      %input#sessionInput/
      %button{:type => "submit"} Connect now
  .row.container_body    
    .videoContainer
      %video#localVideo{:oncontextmenu => "return false;"}
      %meter#localVolume.volume.row{:high => "-25", :low => "-40", :max => "-20", :min => "-45"}
    #localContainer.videoContainer
      #remotes
      %script{:src => "//simplewebrtc.com/latest.js"}
  .row.container_bottom
    %a.btn.btn-primary.btn-sm{:href => report_abuse_path, :role => "button"} Report Abuse
    %a.btn.btn-primary.btn-sm{:href => busy_user_path(current_user), :"data-method" => "put", :role => "button"} End Session 
    = link_to "Cancel this session", busy_user_path(current_user), :method =>"put"