= render :partial => "userpage_header"
%h2 User page
%p You are currently speaking with: 
%a.btn.btn-primary.btn-sm{:href => destroy_user_session_path, :method => "delete", :role => "button"} Report Abuse
%a.btn.btn-primary.btn-sm{:href => destroy_user_session_path, :method => "delete", :role => "button"} End Session 