= render :partial => "userpage_header"
%h2 User page
%p You are currently speaking with: #{@listener.username}
%a.btn.btn-primary.btn-sm{:href => report_abuse_user_path, :method => "delete", :role => "button"} Report Abuse
%a.btn.btn-primary.btn-sm{:href => feedback_user_path, :method => "delete", :role => "button"} End Session 