%h2 Hope you had a wonderful talk! 
%h4 How was the session? 
%i To improve the quality of our service, your feedback is very important to us.  

%form.form-horizontal
  %fieldset
    %legend #{current_user.username}'s session with Speaker's name 
    .form-group
      %label.col-lg-2.control-label{:for => "select"} How challenging was the session?
      .col-lg-10
        %select#select.form-control
          %option Very challenging
          %option Challenging
          %option Neutral
          %option Moderately pleasant
          %option Very pleasant
        %br/
    .form-group
      %label.col-lg-2.control-label Will you come back to help people again? 
      .col-lg-10
        .radio
          %label
            %input#optionsRadios1{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "willingness1"}/
            YES
        .radio
          %label
            %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "willingness2"}/
            NO 
    .form-group
      %label.col-lg-2.control-label{:for => "select"} What subjects do you think will help more people? (choose multiple)
      .col-lg-10
        %select.form-control{:multiple => "multiple"}
          %option Relationships
          %option Financial issues
          %option Self-image
          %option Worries for future
          %option Health  
          %option Career           
    .form-group
      %label.col-lg-2.control-label{:for => "textArea"} Please leave any feedback here. 
      .col-lg-10
        %textarea#textArea.form-control{:rows => "3"}
        %span.help-block Your feedback can be written only in English or Spanish. We might not be able to respond to feedback written in other languages. 
    .form-group
      .col-lg-10.col-lg-offset-2
        %button.btn.btn-default{:type => "reset"} Cancel
        %button.btn.btn-primary{:type => "submit", :href =>listener_search_path,:method => :post} Submit
//Will store the time of the session, feedback, the listener id, subject. 
