= render :partial => "pages/index_header"

%h2 Let's start a conversation as a:

%a.btn.btn-primary.btn{:href => "users/chat-session/listener", :role => "button"} Listener 

%a.btn.btn-primary.btn{:href => "users/chat-session/user", :role => "button"} Speaker