= render :partial => "pages/index_header"
.session_select
  %h2 Let's start a conversation as a:
  %a.btn.btn-primary.btn{:href => "users/chat_session/listener", :role => "button"} Listener 
  %a.btn.btn-primary.btn{:href => "users/chat_session/user", :role => "button"} Speaker