= render :partial => "pages/index_header"
.session_select
  %h2 Let's start a conversation as a:
  - if current_user.listener? 
    %a.btn.btn-primary.btn{:href => ready_user_path(current_user), :"data-method" => :put, :role => "button"} Listener 

  - else 
    %a.btn.btn-primary.btn{:href => edit_user_path(current_user), :role => "button"} Listener (edit profile first)
  %a.btn.btn-primary.btn{ready_user_path(current_user), :"data-method" => :put, :role => "button"} Speaker