= render :partial => "pages/index_header"
.session_select
  %h2 Let's start a conversation as a:
  - if current_user.listener? 
    %a.btn.btn-primary.btn{:href => ready_user_path(current_user), :"data-method" => :put, :role => "button"} Listener 

  - else 
    %a.btn.btn-primary.btn{:href => edit_user_path(current_user), :role => "button"} Listener
    %i Edit your profile to be a Listener 
  %a.btn.btn-primary.btn{:href => chat_session_path, :role => "button"} Speaker