= render :partial => "index_header"
.main-container.row
  .jumbotron
    .main_text
      %h1 I want to
      %a.btn.btn-primary.btn-lg{:href => "/listen", :role => "button"} Listen to someone
      %a.btn.btn-primary.btn-lg{:href => "/talk", :role => "button"} Talk to someone
  #page1
    %a{:id => "How it works"}
    .jumbotron.page1
      .session_select
        %h2 How it works
        %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec error quis pharetra. Eros metus quam augue suspendisse, metus rutrum risus erat in.  
        %a.btn.btn-primary.btn{:type => "button", :href => users_path} Start a Conversation
  #page2
    %a{:id => "How to become a listener"}
      .jumbotron.page2
        .session_select.page2
          %h2 How to become a listener
          %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec error quis pharetra. 
          - if current_user.present?
            %a.btn.btn-primary.btn{:href => edit_user_path(current_user), :type =>"button"} Become a Listener   
          - else
            %a.btn.btn-primary.btn{:href => new_user_registration_path, :type => "button"} Become a Listener
  #page3
    %a{:id => "Power of Listening"}
    .jumbotron.page3
      .session_select
        %h2 Power of Listening
        %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec error quis pharetra. Eros metus quam augue suspendisse, metus rutrum risus erat in. 
        %button.btn.btn-primary{:type => "button", :href => users_path} Start a Conversation
        %a{:id => "Reviews"}
  #page4
    %a{:id => "FAQ"}
    .session_select
      %h2 FAQ
      .text_list
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here. Answer to the question will be written here. Answer to the question will be written here.
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here. Answer to the question will be written here. Answer to the question will be written here
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here
        %ul
          %li Frequently Asked Questions regarding this website will be displayed here. Frequently Asked Questions regarding this website will be displayed here. 
          %ul
            %li Answer to the question will be written here. Answer to the question will be written here.
      %button.btn.btn-primary{:type => "button", :href => users_path} Start a Conversation
  #page5
    %a{:id => "Reviews"}
      .session_select
        %h2 What people are saying about us
        .text_list
          .media
            .media-left
              %a{:href => "#"}
                %img.media-object{:alt => "...", :src =>"http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png"}/
            .media-body
              %h4.media-heading Username - Miami, FL
              %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque.
          .media
            .media-left
              %a{:href => "#"}
                %img.media-object{:alt => "...", :src => "http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png"}/
            .media-body
              %h4.media-heading Username2 - Mission Viejo, CA
              %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque.
          .media
            .media-left
              %a{:href => "#"} 
                %img.media-object{:alt => "...", :src => "http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.thumb.png"}/
            .media-body
              %h4.media-heading Username3 - Atlanta, GA
              %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque.
        .row.index_button
          %button.btn.btn-primary{:type => "button", :href => users_path} Start a Conversation
= render :partial => "footer"