= render :partial => "index_header"
.main-container
  .jumbotron
    %h1 I want to help others by listening to
    .row.buttons
      %a.btn.btn-primary.btn{:href => chat_session_user_path, :role => "button"} anyone who is online now
      %a.btn.btn-primary.btn{:href => new_user_registration_path, :role => "button"} someone with a particular subject in mind

= render :partial => "footer"
