= render :partial => "index_header"
.main-container
  .jumbotron
    %h1 I want to talk
    %a.btn.btn-primary.btn-lg{:href => chat_session_user_path, :role => "button", :} to anyone who is online 
    %a.btn.btn-primary.btn-lg{:href => "listener_search", :role => "button"} to someone who I choose
    %a.btn.btn-primary.btn-lg{:href => "listener_search", :role => "button"} some times later

= render :partial => "footer"
