= render :partial => "index_header"
.main-container
  .jumbotron
    %h1 I want to talk
    - if current_user.present?
      %a.btn.btn-primary.btn-lg{:href => 'users', :role => "button"} to anyone who can help me
    - else
      %a.btn.btn-primary.btn-lg{:href => 'users/sign_up', :role => "button"} to anyone who can help me
    %a.btn.btn-primary.btn-lg{:href => "users", :role => "button"} to someone who I choose
    %a.btn.btn-primary.btn-lg{:href => "users", :role => "button"} some times later